
@import "./bgGradient";
// @import "./macbook";
@import "./gallery_slide";
// @import "./lib/iphone";
// @import "./import/url";
@import "./utils";
@import "./doit";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

html, body {
  font-family: 'Pretendard-Regular', sans-serif;
}

.pretendard {
  font-family: 'Pretendard-Regular';
}
.modal-open {
  overflow: hidden;
}

.bg-pin .char {display: inline !important; }



.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

// --------------------------------
.tooltip-top {
  /* Modify size here: */
  --size: 100px;
  --padding: 10px;

  position: relative;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) / 2);
  background: #333;
  padding: var(--padding);

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #333;
    height: 16px;
    width: 16px;
  }
  
}